@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;

    --muted: 240 6% 90%;
    --muted-foreground: 240 5% 34%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 6% 90%;
    --secondary-foreground: 240 6% 10%;

    --accent: 240 6% 90%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 240 6% 90%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --card: 240 10% 8%;
    --card-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    
    --secondary: 240 4% 11.9%;
    --secondary-foreground: 0 0% 98%;
    
    --accent: 240 4% 11.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    
    --ring: 240 4% 11.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  ::selection {
    @apply text-black;
    @apply bg-cyan-400;
  }
  *:focus-visible {
    @apply outline;
    @apply outline-2;
    @apply outline-offset-2;
    @apply outline-pink-500;
  }
  * {
    @apply border-border;
    @apply min-w-0;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
  h1 {
    @apply font-alt;
    @apply font-bold;
    @apply text-4xl;
    @apply text-foreground;
    @apply lg:text-6xl;
    @apply bg-clip-text;
    @apply drop-shadow-[0_0_15px_rgba(0,0,0,1)];
    @apply lg:text-transparent;
    @apply lg:bg-gradient-to-br;
    @apply from-foreground;
    @apply to-muted-foreground;
  }
}
